<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
    body{ font-size:38px;}
</style>
</head>
<body>
<br /><br />
<form action="" method="post">
    1.在做学校作业或者其他的活动时，无法专注于细节的部分或出现粗心的错误<br />
<label><input name="1" type="radio" value="a" />完全没有 </label>
<label><input name="1" type="radio" value="b" />有一点点 </label>
<label><input name="1" type="radio" value="c" />还算不少 </label>
<label><input name="1" type="radio" value="d" />非常的多 </label><br /><br />
2.很难专注于学习或游戏活动 <br />
<label><input name="2" type="radio" value="a" />完全没有 </label>
<label><input name="2" type="radio" value="b" />有一点点 </label>
<label><input name="2" type="radio" value="c" />还算不少 </label>
<label><input name="2" type="radio" value="d" />非常的多 </label><br /><br />
<!--</form>-->
<!--<form action="" method="get">-->
3.看起来好小没有听到别人对他（她）说话的内容.<br />
<label><input name="3" type="radio" value="a" />完全没有 </label>
<label><input name="3" type="radio" value="b" />有一点点 </label>
<label><input name="3" type="radio" value="c" />还算不少 </label>
<label><input name="3" type="radio" value="d" />非常的多 </label><br /><br />
<!--</form>-->
<!--<form action="" method="get">-->
4.没有办法遵循指示，也无法完成学校或家事（并不是由于对立性行为或无法了解指示的内容） .<br />
<label><input name="4" type="radio" value="a" />完全没有 </label>
<label><input name="4" type="radio" value="b" />有一点点 </label>
<label><input name="4" type="radio" value="c" />还算不少 </label>
<label><input name="4" type="radio" value="d" />非常的多 </label><br /><br />

5.很难组织规划工作及生活.<br />
<label><input name="5" type="radio" value="a" />完全没有 </label>
<label><input name="5" type="radio" value="b" />有一点点 </label>
<label><input name="5" type="radio" value="c" />还算不少 </label>
<label><input name="5" type="radio" value="d" />非常的多 </label><br /><br />

6.逃避或表达不愿意，或很难从事于需要持续性动脑的工作（例如学校作业或是家庭作业）.<br />
<label><input name="6" type="radio" value="a" />完全没有 </label>
<label><input name="6" type="radio" value="b" />有一点点 </label>
<label><input name="6" type="radio" value="c" />还算不少 </label>
<label><input name="6" type="radio" value="d" />非常的多 </label><br /><br />

7.会弄丢作业或活动所必需的东西（例如：学校作业，铅笔，书，工具或玩具）.<br />
<label><input name="7" type="radio" value="a" />完全没有 </label>
<label><input name="7" type="radio" value="b" />有一点点 </label>
<label><input name="7" type="radio" value="c" />还算不少 </label>
<label><input name="7" type="radio" value="d" />非常的多 </label><br /><br />

8.很容易受外在刺激影响而分心.<br />
<label><input name="8" type="radio" value="a" />完全没有 </label>
<label><input name="8" type="radio" value="b" />有一点点 </label>
<label><input name="8" type="radio" value="c" />还算不少 </label>
<label><input name="8" type="radio" value="d" />非常的多 </label><br /><br />

9.在日常生活中忘东忘西.<br />
<label><input name="9" type="radio" value="a" />完全没有 </label>
<label><input name="9" type="radio" value="b" />有一点点 </label>
<label><input name="9" type="radio" value="c" />还算不少 </label>
<label><input name="9" type="radio" value="d" />非常的多 </label><br /><br />

10.在座位上玩弄手脚或不好好坐着.<br />
<label><input name="10" type="radio" value="a" />完全没有 </label>
<label><input name="10" type="radio" value="b" />有一点点 </label>
<label><input name="10" type="radio" value="c" />还算不少 </label>
<label><input name="10" type="radio" value="d" />非常的多 </label><br /><br />

11.在教室或者其他必须持续坐着的场合，会任意离开席位.<br />
<label><input name="11" type="radio" value="a" />完全没有 </label>
<label><input name="11" type="radio" value="b" />有一点点 </label>
<label><input name="11" type="radio" value="c" />还算不少 </label>
<label><input name="11" type="radio" value="d" />非常的多 </label><br /><br />

12.在不适当的场合，乱跑或者跑高爬低.<br />
<label><input name="12" type="radio" value="a" />完全没有 </label>
<label><input name="12" type="radio" value="b" />有一点点 </label>
<label><input name="12" type="radio" value="c" />还算不少 </label>
<label><input name="12" type="radio" value="d" />非常的多 </label><br /><br />

13.很难安静地玩或参与休闲活动.<br />
<label><input name="13" type="radio" value="a" />完全没有 </label>
<label><input name="13" type="radio" value="b" />有一点点 </label>
<label><input name="13" type="radio" value="c" />还算不少 </label>
<label><input name="13" type="radio" value="d" />非常的多 </label><br /><br />

14.总是一直在动或是像装了马达似的动个不停.<br />
<label><input name="14" type="radio" value="a" />完全没有 </label>
<label><input name="14" type="radio" value="b" />有一点点 </label>
<label><input name="14" type="radio" value="c" />还算不少 </label>
<label><input name="14" type="radio" value="d" />非常的多 </label><br /><br />

15.话很多.<br />
<label><input name="15" type="radio" value="a" />完全没有 </label>
<label><input name="15" type="radio" value="b" />有一点点 </label>
<label><input name="15" type="radio" value="c" />还算不少 </label>
<label><input name="15" type="radio" value="d" />非常的多 </label><br /><br />

16.在问题还没问完前急着回答.<br />
<label><input name="16" type="radio" value="a" />完全没有 </label>
<label><input name="16" type="radio" value="b" />有一点点 </label>
<label><input name="16" type="radio" value="c" />还算不少 </label>
<label><input name="16" type="radio" value="d" />非常的多 </label><br /><br />

17.在游戏中或团队活动中，无法排队或等待轮流.<br />
<label><input name="17" type="radio" value="a" />完全没有 </label>
<label><input name="17" type="radio" value="b" />有一点点 </label>
<label><input name="17" type="radio" value="c" />还算不少 </label>
<label><input name="17" type="radio" value="d" />非常的多 </label><br /><br />

18.打断或干扰别人（例如：插嘴或打断别人的游戏）.<br />
<label><input name="18" type="radio" value="a" />完全没有 </label>
<label><input name="18" type="radio" value="b" />有一点点 </label>
<label><input name="18" type="radio" value="c" />还算不少 </label>
<label><input name="18" type="radio" value="d" />非常的多 </label><br /><br />

19.发脾气.<br />
<label><input name="19" type="radio" value="a" />完全没有 </label>
<label><input name="19" type="radio" value="b" />有一点点 </label>
<label><input name="19" type="radio" value="c" />还算不少 </label>
<label><input name="19" type="radio" value="d" />非常的多 </label><br /><br />

20.与大人争论.<br />
<label><input name="20" type="radio" value="a" />完全没有 </label>
<label><input name="20" type="radio" value="b" />有一点点 </label>
<label><input name="20" type="radio" value="c" />还算不少 </label>
<label><input name="20" type="radio" value="d" />非常的多 </label><br /><br />

21.主动地反抗或拒绝大人的要求或规定.<br />
<label><input name="21" type="radio" value="a" />完全没有 </label>
<label><input name="21" type="radio" value="b" />有一点点 </label>
<label><input name="21" type="radio" value="c" />还算不少 </label>
<label><input name="21" type="radio" value="d" />非常的多 </label><br /><br />

22.故意地做一些事去干扰别人.<br />
<label><input name="22" type="radio" value="a" />完全没有 </label>
<label><input name="22" type="radio" value="b" />有一点点 </label>
<label><input name="22" type="radio" value="c" />还算不少 </label>
<label><input name="22" type="radio" value="d" />非常的多 </label><br /><br />

23.因自己犯的错或不适当的行为而怪罪别人.<br />
<label><input name="23" type="radio" value="a" />完全没有 </label>
<label><input name="23" type="radio" value="b" />有一点点 </label>
<label><input name="23" type="radio" value="c" />还算不少 </label>
<label><input name="23" type="radio" value="d" />非常的多 </label><br /><br />

24.易怒的或很容易被别人激怒.<br />
<label><input name="24" type="radio" value="a" />完全没有 </label>
<label><input name="24" type="radio" value="b" />有一点点 </label>
<label><input name="24" type="radio" value="c" />还算不少 </label>
<label><input name="24" type="radio" value="d" />非常的多 </label><br /><br />

25.生气的及怨恨的.<br />
<label><input name="25" type="radio" value="a" />完全没有 </label>
<label><input name="25" type="radio" value="b" />有一点点 </label>
<label><input name="25" type="radio" value="c" />还算不少 </label>
<label><input name="25" type="radio" value="d" />非常的多 </label><br /><br />

26.恶意的或有报复心的.<br />
<label><input name="26" type="radio" value="a" />完全没有 </label>
<label><input name="26" type="radio" value="b" />有一点点 </label>
<label><input name="26" type="radio" value="c" />还算不少 </label>
<label><input name="26" type="radio" value="d" />非常的多 </label><br /><br />

<input name="submit" type="submit" value="提交" onclick="MsgBox()" style="height:80px; width:50px;display:block;margin:0 auto;"><br /><br />
</form>

<script language="javascript">
function MsgBox() //声明标识符
{
alert("问卷已收到，谢谢！"); //弹出对话框
}
</script>
</body>
</html>